@charset "UTF-8";

/* Positionne les blocs du template */

/* ### Login ### */

#account
{
	margin:auto;
	width:1000px;
}
#login-forgot
{
	float:left;
	margin-top:13px;
}
#login a
{
	color:white;
	text-shadow:#000000;
	text-decoration:none;
}

#login a:hover
{
	text-decoration:underline;
}

#form-login-remember li
{
	display:inline;
}

#form-login-remember li.first_li
{
	margin-left:0px;
}

#form-login-remember li
{
	margin-left:10px;
}
#form-login-username
{
	float:right;
}

/* ### Header ### */
#logoHeader
{
	position:relative;
}

#banner, #logo
{
	position:absolute;
}

#logo
{
	margin-top:140px;
	margin-left:750px;	
}

#joomlaSearch
{
	position:absolute;
	margin-top:210px;
	margin-left:750px;
}

/* ### Body ### */
#body
{	
	margin:auto;
}
#footer
{
	margin:auto;
}

/* ### Le positionnement de tous les articles ### */

/* ### Les articles présentation de la page d'accueil ### */
#accueilPresentation
{
	float:left;
	width:350px;
	border: solid 2px;
	border-radius:10px;
	margin : 15px;
	margin-right : 5px;
	background-color:#FF4;
}

/* ### Les articles compétitions de la page d'accueil ### */
#accueilCompetitions
{
	float:right;
	width:585px;
	border: solid 2px;
	border-radius:10px;
	margin : 15px;
	margin-left : 5px;
	background-color:#FF4;
}

/* ### Les articles nouveautés de la page d'accueil ### */
#accueilNouveautes
{
	clear:both;
	margin : 15px;
	padding : 0 5px 0 2px;
}
