@charset "UTF-8";

/* Positionne les blocs du template */

/* ### Login ### */

#account
{
	margin:auto;
	width:1000px;
}

#login-forgot
{
	float:left;
	margin-top:13px;
}

#login a
{
	color:white;
	text-shadow:#000000;
	text-decoration:none;
}

#login a:hover
{
	text-decoration:underline;
}

#form-login-remember li
{
	display:inline;
}

#form-login-remember li.first_li
{
	margin-left:0px;
}

#form-login-remember li
{
	margin-left:10px;
}
#form-login-username
{
	float:right;
}

/* ### Header ### */
#logoHeader
{
	position:relative;
}

#banner, #logo
{
	position:absolute;
}

#logo
{
	margin-top:140px;
	margin-left:750px;	
}

#joomlaSearch
{
	position:absolute;
	margin-top:210px;
	margin-left:750px;
}

/* ### Body ### */
#body
{	
	margin:auto;
}

#footer
{
	margin:auto;
}

/* ### Le positionnement de tous les articles ### */

/* ### La syntaxe et l'affichage d'un article de base ### */
#article 
{
	margin: 0 17px 0 17px;
	padding: 0 5px 0 2px;
}

/* ### Les articles présentation de la page d'accueil ### */
#accueilPresentation
{
	float:left;
	width:350px;
	border: solid 2px;
	border-radius:10px;
	margin:0 5px 0px 18px;
	background-color:#FF4;
}

/* ### Les articles compétitions de la page d'accueil ### */
#accueilCompetitions
{
	float:right;
	width:585px;
	border: solid 2px;
	border-radius:10px;
	margin:0 18px 0px 5px;
	background-color:#FF4;
}

/* ### Les articles nouveautés de la page d'accueil ### */
#accueilNouveautes
{
	clear:both;
	margin: 0 17px 0 17px;
	padding : 0 5px 0 2px;
}

#accueilNouveautes a:hover
{
	text-decoration:underline;
}

#accueilNouveautes a:visited, a:link
{
	text-decoration:none;
	color:black;
}

#accueilNouveautes a:hover
{
	text-decoration:underline;
}

#center a:visited, a:link
{
	text-decoration:none;
	color:black;
}

#center a:hover
{
	text-decoration:underline;
}

/* ### Lien lire la suite ### */
.readmore 
{
	padding-left:15px;
	font-style:italic;
}

.leading-0 h2
{
	padding-bottom:7px;
}

.newsflash-title, .leading-1 h2, .leading-2 h2, .leading-3 h2, .leading-4 h2, .item-page h2
{
	padding-top:25px;
	padding-bottom:7px;
}

/* ### Postionnement du résultat du module de recherche ### */
.search
{
	border-bottom:1px solid black;
	margin-bottom:25px;
	font-family:Arial,Helvetica,Verdana,sans-serif;
}

#searchForm
{
	clear:both;
}

.word, .phrases, .only, .search-results
{
	border:none;
	padding-bottom:5px;
}

.word input
{
    border:solid 1px #bbb;
    padding:2px;
    width:125px;
}

.word button
{
	cursor:pointer;
	border:0;
	background-color:#bbb;
	color:#333;
	padding:3px;
}

.searchintro
{
	padding:0 0 5px 5px;
}

.phrases legend, .phrases-box, .ordering-box, .only legend, .form-limit, .result-created
{
	padding-bottom:3px;
}

.phrases-box label, .only label
{
	padding-right:5px;
}

.result-title
{
	padding-left:10px;
	padding-bottom:2px;
}

/* ### Affichage du formulaire de création de compte ### */
.registration
{
	clear:both;
	font-family:Arial,Helvetica,Verdana,sans-serif;
	margin:0 320px 0 320px;
	border:solid 2px;
	border-radius:10px;
	padding:15px 30px 15px 50px;
}

.registration fieldset
{
	border: none;
}

.registration legend
{
	padding-left:50px;
	padding-bottom:10px;
}

#jform_spacer-lbl
{
	padding-left:25px;
}

.registration input
{
	margin-bottom:15px;
}

.registration button
{
	padding:2px;
}

.remind p, .reset p
{
	padding-bottom:10px;
}

.remind fieldset, .reset fieldset
{
	border:none;
}

.remind input, .reset input
{
	margin-bottom:5px;
}

.validate
{
	padding:2px;
}

.login fieldset
{
	border:none;
}

.login-fields
{
	padding-bottom:5px;
}

.button
{
	padding:2px;
}

ul
{
	overflow-x: hidden;
}