@charset "utf-8";

/* Met en forme les différents composants du module */
label
{
	display:block;
	width:250px;
	float:left;
}

input
{
	padding:5px;
	margin:2px;
}

input[type="submit"]
{
    border:none;
    color:white;
    background-color:#3A3A3A;
    width:200px;
    cursor:pointer;
}
.marginLeft
{
	margin-left:100px;
}
#formMail label
{
	width:300px;
}
select
{
	font-size:18px;
}

#mineur, #majeur, #formulaireTournament,  #nouveauTournoi, #ajoutTournoi
{
	display:none;
}

.error_message, .info_message, .success_message
{
	text-shadow:0px 1px 0px #fff;
	box-shadow:#e2e2e2;
	margin-bottom:5px;
	padding:10px 10px;
	color:#665C59;
}

.error_message
{
	background-color:#F7DADC;
	border:1px dotted #E02C2F;
}

.span_error_message
{
	font-weight:bold;
	color:#E02C2F;
	margin-right:10px;
}

.info_message
{
	background-color:#D7EBF2;
	border:1px dotted #217599;
}

.span_info_message
{
	font-weight:bold;
	color:#217599;
	margin-right:10px;
}

.success_message
{
	background-color:#D9F4DA;
	border:1px dotted #229E2D;
}

.span_success_message
{
	font-weight:bold;
	color:#229E2D;
	margin-right:10px;
}